<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Reviews</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hotel_list.css}">
</head>
<body>
<div class="navbar">
    <h1><a th:href="@{/hotel}">getyourhotel</a></h1>
<!--    <div class="search-container">-->
<!--        <input type="text" id="searchInput" placeholder="Search...">-->
<!--        <button onclick="search()">Search</button>-->
<!--    </div>-->
</div>
<div class="hotel-container">
    <div th:each="review : ${reviews}" class="hotel-item">
<!--        <a th:href="@{/hotel/{hotel_id}/room/{id}(hotel_id=${hotelRoom.hotel_id}, id=${hotelRoom.id})}">-->
            <h3 th:text="${review.user_id}"></h3>
<!--        </a>-->
        <p th:text="${review.message}"></p>
    </div>
</div>

<!--<script>-->
<!--    function search() {-->
<!--        var input = document.getElementById('searchInput').value;-->

<!--        // Отправка запроса на сервер для выполнения поиска-->
<!--        fetch('/hotel/3/room/search' + input)-->
<!--            .then(data => {-->
<!--                // Обработка результатов поиска (data)-->
<!--                console.log(data);-->
<!--                // Вставьте код для обновления отображаемых данных-->
<!--                window.location.href = '/hotel/3/room/search/' + input-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('Error during search:', error);-->
<!--            });-->
<!--    }-->
<!--</script>-->

</body>
</html>