body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-details {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    box-sizing: border-box;
    position: relative;
}

.update-delete-links {
    position: absolute;
    top: 10px;
    right: 20px;
}

a {
    color: black;
    text-decoration: none;
}

/* Стиль для неотображенных ссылок */
a:link {
    color: black;
}

/* Стиль для посещенных ссылок */
a:visited {
    color: black;
}

/* Стиль для активных (при нажатии) ссылок */
a:active {
    color: black;
}

/* Стиль для ссылок при наведении */
a:hover {
    color: black;
}

.update-link, .delete-link {
    font-size: small;
    margin-left: 10px;
    color: black;
}